<div class="headline">
  <%if @post[:action] == "edit"%>
    <h1>Edit Model: <%=@modelName%></h1>
  <%else%>
    <h1>Upload a Model</h1>
  <%end%>
</div>

<%if @post[:action] == "edit"
  form_action = {:action=>:modify}
else
  form_action = {:action=>:create}
end%>

<%= form_for :model, :url => form_action,
    :html => {:onsubmit=>"return validateForm();", :multipart=>true,
      :id=>"model_form"} do |f| %>

  <div class="row">
    <div class="span6">
      <h2> Properties </h2>
      <span><strong>Name</strong></span>
      <br/>
      <%nameValue=""
        if !@modelName.nil?
          nameValue = @modelName
        end%>
      <%= f.text_field :name,
        {:class=>"field model_text span6",:value=>"#{nameValue}", :placeholder=>"Type model name here...", :required=>true, :"data-toggle"=>"tooltip", :"data-trigger"=>"manual", :"data-placement"=>"top", :"data-original-title"=>"Name already exists. Please choose a different name.", :onclick=>"$('#model_name').tooltip('hide');"} %>

      <br/>
      <span><strong>Description</strong></span>
      <br/>
      <%descValue=""
        if !@modelDesc.nil?
          descValue = @modelDesc
        end%>

      <%= f.text_area :description,
        {:class=>"field span6 upload",:value=>"#{descValue}",
            :placeholder=>"Add a brief description of your model...",
            :required=>true} %>
      <br/>
      <span><strong>Category:</strong></span>
      <span style="color:#b94a48" id="category_help"></span>
      <br/>

      <div class="row">
        <div class="control-group" id="category_div">
          <fieldset>
            <% catCount=0 %>
            <% rowLimit=5 %>
            <% @categories.each do |cat| %>
              <% if catCount % rowLimit == 0 %>
                <div class="span3">
              <%end%>

              <%= f.label "category_#{cat.name.downcase}", {:class=>"radio"} do%>
                <%if @modelCat.nil? or @modelCat != cat.name%>
                  <%= f.radio_button :category, "#{cat.name}"%>
                <%else%>
                  <%= f.radio_button :category, "#{cat.name}", :checked=>true%>
                <%end%>
                <%= cat.name %>
              <%end%>

              <% if (catCount+1) % rowLimit == 0 %>
                </div>
              <%end%>
              <% catCount += 1 %>
            <%end%>

            <% if catCount % rowLimit != 0 %>
              </div>
            <%end%>
          </fieldset>
        </div>
      </div>

      <div class="control-group">
        <label><strong>Tags</strong> (optional)</label> 
        <span class="controls">

          <%= f.text_field :tags,
            {:class=>"tm-input",
             :placeholder=>"ex) comma, separated, tags"} %>
        </span>
      </div>

      <span><strong>Model Tarball</strong></span>
      <span style="color:#b94a48" id="file_help"></span>

      <div style="margin-top: 0px; margin-bottom: 4px">
        Select the [model_name].tar.gz file created by the <b>gzprop</b> program.
      </div>

      <span class="btn btn-success fileinput-button">
        <i class="icon-white icon-plus"></i>
        <span id="add_button">Add</span>
        <%= f.file_field :files, :id=>"select_files" %>
      </span>

      <div style="margin-top: 5px">
        <table class="table table-striped">
          <tbody class="files" data-toggle="modal-gallery"
            data-target="#modal-gallery" id="list"></tbody>
        </table>
      </div>
    </div>

    <div class="span6">
      <h2> Guidelines </h2>
      <ul class="guidelines">
        <li> A model name and description are required. </li>
        <li> Select appropriate category and tags. </li>
        <li> Select a tarball (.tar.gz file) created by <b>gzprop</b>
        <ul>
          <li> Gazebo must be <a href="http://gazebosim.org/wiki/install">installed</a> on your personal computer.</li>
          <li> Run <b>gzprop &lt;model_directory&gt;</b> to generate a tarball for upload.</li>
          <li> Make sure the tarball is not in a hidden directory, such as <tt>~/.gazebo</tt></li>
          <li> For help, run <b>man gzprop</b> in a terminal.</li>
        </ul>
        <li> All materials will be licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0.</a></li>
      </ul>
    </div>
  </div>

  <hr style="border: 1px solid #E6E6E6;" />

  <!--Upload/Cancel/Next buttons -->
  <div class="row">
    <div class="span2"> 
      <span>
      <%= link_to "Cancel", root_path,
        {:class=>("btn")} %>
      </span>
      <span class="next_button">
        <%if @post[:action] == "edit"%>
          <%= f.submit "Modify",:class => "upload_buttons btn btn-primary" %>
        <%else%>
          <%= f.submit "Submit",:class => "upload_buttons btn btn-primary" %>
        <%end%>
      </span>
    </div>
  </div>
  <br/>
<% end %>

<!--This is the modal for signing up-->
<div id="signin_modal" class="modal hide fade" tabindex="-1" role="dialog"
  aria-labelledby="signin_modal" aria-hidden="true">

  <div class="modal-header">
    <h3 id="mySinginLabel">Sign In</h3>
    Sign in using:
  </div>

  <div class='modal-body' style="padding: 10px">
    <%= link_to image_tag("google-icon-32.png", alt:"google"), 
      {:controller=>"sessions", :action=>"new", :auth=>"google",
       :redirect=>"#{request.original_url}"},
      {:style=>"padding-right: 10px"}%>
    <%= link_to image_tag("yahoo-icon-32.png", alt:"yahoo"),
      {:controller=>"sessions", :action=>"new", :auth=>"yahoo",
        :redirect=>"#{request.original_url}"},
      {:style=>"padding-right: 10px"}%>
    <%= link_to image_tag("openid-icon-32.png", alt:"openid"),
      {:controller=>"sessions", :action=>"new", :auth=>"openid",
       :redirect=>"#{request.original_url}"},
      {:style=>"padding-right: 10px"}%>
    <%= link_to image_tag("aol-icon-32.png", alt:"aol"),
      {:controller=>"sessions", :action=>"new", :auth=>"aol",
       :redirect=>"#{request.original_url}"},
      {:style=>"padding-right: 10px"}%>
  </div>
</div>


<script>
  function validateForm()
  {
    var modelName = document.forms["model_form"]["model[name]"].value;
    var description = document.forms["model_form"]["model[description]"].value;
    var category = ""

    document.getElementById('category_help').innerHTML = "";
    document.getElementById('category_div').className = "control-group";

    document.getElementById('file_help').innerHTML = "";

    var c = document.getElementsByName('model[category]')
    for(var i = 0; i < c.length; i++)
    {
      if (c[i].checked)
      {
        category = c[i].value
      }
    }

    if (category == "")
    {
      document.getElementById('category_div').className += " error";
      document.getElementById('category_help').innerHTML = "Select a category";
      return false;
    }

    var good = false;
    for (var i=0; i < document.getElementById('list').childNodes.length; ++i)
    {
      var id = "filename_"+i.toString();
      var filename = document.getElementById(id);
      if (!filename)
      {
        break;
      }

      var parts = filename.innerHTML.split(".");
      if (parts.length > 1 && parts[parts.length-1] == "gz")
      {
        good = true;
        break;
      }
    }

    if (!good)
    {
      document.getElementById('file_help').innerHTML =
      "<b>Add a model.tar.gz file.</b>";
    }

    // Make sure the name doesn't exist. It's okay if the name exists and
    //  matches the model being edited 
    $.ajax({
      url: "/model/exists/"+modelName,
      type: 'GET',
      dataType: 'JSON',
      async: false,
      success: function(_json) {
        <%if !@post[:id].nil?%>
          if (_json["exists"] && _json["model_id"] != <%="#{@post[:id]}"%>)
        <%else%>
          if (_json["exists"])
        <%end%>
        {
          $('#model_name').tooltip('show');
          good = false;
        }
      }
    });

    return good;
  }

  function cancelFile(_id)
  {
    var elem = document.getElementById(_id);
    elem.parentNode.removeChild(elem);

    // Only one file is allowed, so we can just clear the value
    document.getElementById('select_files').value = "";
    document.getElementById('add_button').innerHTML="Add";
  }

  function addFile(_filename, _filesize, _pos)
  {
    var str = '<tr class="template-upload fade in" id="file';
    str = str.concat(_pos,'"><td class="preview"><span class="fade"</span></td><td><p id="filename_',_pos,'">', _filename, '</p></td><td>', _filesize, ' </td><td><button class="btn btn-danger" onclick="cancelFile(\'file',_pos,'\')"><i class="icon-white icon-remove-sign"></i></button> <input type="hidden" name="file',_pos,'" value="', _filename,'"/></td></tr>');

    document.getElementById('list').innerHTML += str; 
  }

  function handleFileSelect(evt)
  {
    document.getElementById('file_help').innerHTML = "";

    // FileList object
    var files = evt.target.files;
    var offset = document.getElementById('list').childNodes.length;

    if (files.length < 1)
    {
      if (document.getElementById('list').innerHTML == "") 
      {
        document.getElementById('add_button').innerHTML="Add";
      }
      return;
    }
    else
    {
      document.getElementById('add_button').innerHTML="Replace";
    }

    document.getElementById('list').innerHTML = "";

    // files is a FileList of File objects. List some properties.
    var output = [];
    for (var i = 0, f; f = files[i]; i++)
    {
      addFile(escape(f.name), (f.size / 1024).toFixed(2).toString() + " KB", i);
    }
  }

  document.getElementById('select_files').addEventListener('change',
    handleFileSelect, false);

  <%if !current_user%>
    $('#signin_modal').modal()
    $('#signin_modal').on('hidden.bs.modal', function(){
      window.history.back();
    });

  <%end%>

  <!-- Create the the tags manageer -->
  jQuery(".tm-input").tagsManager();

  <!-- Add all tags from a model that is being edited -->
  <%
  if !@modelTags.nil?
    @modelTags.split(",").each do |tag|%>
     <%= "jQuery('.tm-input').tagsManager('pushTag',\"#{tag}\");".html_safe%>
  <%
   end
  end
  %>

  <!-- Add the model file, if it's been set -->
  <%if !@modelFilename.nil?%>
    addFile(<%="'#{@modelFilename}'".html_safe%>,
            <%="'#{@modelFilesize}'".html_safe%>, 0);
    document.getElementById("add_button").innerHTML = "Replace";
  <%end%>

</script>
