<div class="container">

  <div class="headline">
    <h1>Upload a Model</h1>
  </div>

  <%= form_for :model, :url => {:action => :create} do |f| %>
  <div class="row">
    <div class="span6">
      <h2> Properties </h2>
      <span><strong>Name</strong></span>
      <br/>
      <%= f.text_field :name,
        {:class=>"model_text", :placeholder=>"Type model name here..."} %>
      <br/>

      <span><strong>Description</strong></span>
      <br/>
      <%= f.text_area :description,
        {:class=>"field span6 upload",
         :placeholder=>"Add a brief description of your model..."} %>

      <br/>
      <span><strong>Tags</strong></span> 

      <%= f.text_field :tags,
      {:class=>"model_text",
       :placeholder=>"ex) humanoid, bipedal, mobile manipulator"} %>

      <br/>

      <span> <strong>Categories:</strong> Pick up to 3</span>
      <br/>

      <div class="category_checkboxes row">
        <% catCount=0 %>
        <% rowLimit=5 %>
        <% @categories.each do |cat| %>
          <% if catCount % rowLimit == 0 %>
            <div class="span3">
          <%end%>

          <%= f.label cat.name, {:class=>"checkbox"} do%>
            <%= f.check_box :name=>"cat.name"%>
          <%= cat.name %>
          <%end%>

          <% if (catCount+1) % rowLimit == 0 %>
            </div>
          <%end%>
          <% catCount += 1 %>
        <%end%>

        <% if catCount % rowLimit != 0 %>
          </div>
        <%end%>
      </div>

      <span><strong>Files</strong>(.sdf, .png, .jpg, .dae, .stl)</span>
      <br/>

      <span class="btn btn-success fileinput-button">
        <i class="icon-white icon-plus"></i>
        <span>Add</span>
        <input type="file" id="select_files" name="select_files[]" multiple/>
      </span>
      <div style="margin-top: 5px">
        <table role="presentation" class="table table-striped">
          <tbody id="list"></tbody>
        </table>
      </div>

    </div>

    <div class="span4">
      <h2> Guidelines </h2>
      <ul class="guidelines">
        <li> A model name and description are required. </li>
        <li> At least one SDF file is required. </li>
        <li> Select appropriated tags and categories. </li>
        <li> None of the files uploaded can contain copyrighted material. </li>
        <li> All materials will be licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0.</a></li>
      </ul>
    </div>

  </div>

  <hr style="border: 1px solid #E6E6E6;" />

  <!--Upload/Cancel/Next buttons -->
  <div class="upload_buttons row">
    <div class="span6"> 
      <!-- Clicking Cancel button should pop up a confirmation window stating: "Are you sure you want to cancel? Your model will not be uploaded to the model database" --> 
      <%= link_to "Cancel", root_path,
        {:class=>("btn")} %>
      </div>
      <div class="span6 next_button"> 
        <!-- If the Next button is clicked but not all mandatory fields have been entered, show a pop-up prompting the user to fill in that missing info (eg Please upload the SDF file) --> 
          <%= f.submit "Submit",:class => "upload_buttons btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<script>

  function validateForm()
  {
  }

  function cancelFile(_id)
  {
    var elem = document.getElementById(_id);
    elem.parentNode.removeChild(elem);
  }

  function handleFileSelect(evt) {
    // FileList object
    var files = evt.target.files;
    var offset = document.getElementById('list').childNodes.length;

    // files is a FileList of File objects. List some properties.
    var output = [];
    for (var i = 0, f; f = files[i]; i++)
    {
      output.push('<tr class="fade in" id="file',i+offset,'"><td><span class="preview"</span></td><td><p>', escape(f.name), '</p></td><td>', (f.size / 1024).toFixed(2), ' KB </td><td><button class="btn btn-warning" onclick="cancelFile(\'file',i+offset,'\')"><i class="icon-white icon-ban-circle"></i></button> <input type="hidden" name="file',i+offset,'" value="', escape(f.name),'"/></td></tr>');
    }
    document.getElementById('list').innerHTML += output.join('');
  }

  document.getElementById('select_files').addEventListener('change', handleFileSelect, false);
</script>
