<div class="headline"> 
  <h1 style="display: inline"><%= @model.name %></h1>

  <button class="btn btn-mini" type="button" style="margin-bottom: 8px; margin-left: 5px">Edit</button>

  <h2>Uploaded by:
    <%if @creator%>
      <%= @creator.username %>
    <%else%>
      anonymous 
    <%end%>
    (<%=@model.updated_at.strftime("%b %d, %Y")%>)</h2>
</div>

<div class="model_details row" style="position:relative;clear: left; float: left; width:100%; display:block">

  <%metaPath = File.join(@modelPath, @model.id.to_s, "meta") %>

  <div class="span8"
    style="float: left; position: relative; overflow:hidden;">

    <div
      style="margin-bottom:5px; border: 1px solid #e6e6e6; position:relative">

      <%if signed_in? %>
        <div style="position: absolute; top:10px; right: 10px;"
          id="heart_parent_div">
            <button type="submit" style="border: 0px; background: transparent"
              id="like_button" onclick="like(<%=@model.id%>);">

            <%like = Likes.where(model_id:@model.id, user_id: current_user.id).first%>
            <%if !like%>
              <div class="model_like_image" id="like_div"></div>
            <%elsif like.value?%>
              <div class="model_liked_image" id="like_div"></div>
            <%else%>
              <div class="model_dislike_image" id="like_div"></div>
            <%end%>

          </button>
        </div>
      <%end%>

      <%= image_tag "/model/#{@model.id}/image/1",
      alt:"Model image", id:"hero_image" %>
    </div>

    <% if File.exists?(File.join(metaPath, "1.png")) %>
      <div> 
        <ul class="thumbnails">
          <% for i in 1..4 %>
            <li class="span2">

            <% if i == 1 %>
              <%style = "width:160px;border-color: #404853"%>
            <%else%>
              <%style = "width:160px;"%>
            <%end%>

            <%= image_tag "/model/#{@model.id}/image/#{i}",
            alt:"model thumbnail", id:"#{i}", class:"thumbnail",
              style:"#{style}",
              onmouseover:"showHero(#{@model.id}, #{i});",
              onmouseout:"setHero(#{i});",
              onclick:"showHero(#{@model.id}, #{i});setHero(#{i});"
            %>
            </li>
          <%end%>
        </ul>
      </div>
    <%end%>

  </div>

  <div class="span4" style="bottom:0; right:0; position:absolute; display: block; min-height: 100%"> 

    <!-- The model rating system should be like the Netflix system. The stars should be yellow (#E8B107) and display the average star rating, with the number of reviews in parentheses after the stars. When hovering over the stars, they should  highlight in blue (#49728C) as the mouse moves over the stars. The stars that are not being hovered over should be transparent. Clicking a star locks in the user's rating. If they rate the model again, overwrite the previous rating -->
    <div class="rating">
      Rating:
      <span id="star"></span>
      <span>(Overall: <span id='overall'><%= @model.rating ? @model.rating : "n/a"%></span>)</span>
    </div>

    <div class="download">
      <%= link_to "Download Model", "#{@model.id}/download",
      {:class=>("btn btn-large btn-primary")} %>
    </div>
    <div class="tags span4" style="position: absolute; left: 10px; bottom:28px">
      <% if @model.tags != "" %>
      <span><strong>Tags</strong></span> 

        <% @model.tags.split(',').each do |tag| %>
          <span>
            <%= link_to tag, {:controller=>'pages', :action=>'search',
              :tag=>"#{tag}", :search=>"#{tag}"},
              {:class=>"label label-info"} %>
          </span>
        <%end%>
      <%end%>
    </div>
  </div>
</div>


  <div class="model_details row">
    <div class="span8 description">
      <div class="headline">
        <h1>Description</h1>
      </div>
      <p><%= @model.description %></p>

      <!-- Older versions need to be implemented -->
      <!-- This section should only appear if there is more than one version. Newer versions are on top. Clicking Download immediately starts the download. -->
      <!--
      <div class="headline"> <br />
        <h1>Older Versions</h1>
      </div>
      <table class="table table-striped">
        <tr>
          <td> June 1, 2013 </td>
          <td class="download_link"><a href="#"> Download </a></td>
        </tr>
        <tr>
          <td> May 3, 2013</td>
          <td class="download_link"><a href="#">Download </a></td>
        </tr>
        <tr>
          <td> January 17, 2013</td>
          <td class="download_link"><a href="#"> Download </a></td>
        </tr>
      </table>
    -->
    </div>

    <% if @creator and @otherModels.any? %>
    <div class="span4">
      <div class="headline">
        <h1>Other models by <i> <%= @creator.username %> </i></h1>
      </div>
      <!-- If the user has uploaded other models, up to three of them appear in this box. The name should be truncated with "..." so that it doesn't extend past the width of the thumbnail. -->
      <div class="other_models"> 
        <!-- # is replaced with a link to that model's page -->
        <ul class="thumbnails">
          <% @otherModels.each do |m| %>
            <li class="span"> <a href="<%=m.id%>">
            <%= image_tag "/model/#{m.id}/image/1", alt:"#{m.name}",
            :class=>"thumbnail" %> <%= m.name %> </a></li>
          <%end%>
        </ul>
      </div>
    </div>
  <%end%>

  </div>

<script>
  activeImg = "1";
  function showHero(_modelId, _id)
  {
    document.getElementById('hero_image').src = _modelId.toString() + "/image/" + _id.toString();

    if (activeImg != "")
    {
      document.getElementById(activeImg).style.cssText = "width:160px;";
    }

    document.getElementById(_id).style.cssText =
      "width:160px;border-color: #404853";
  }

  function setHero(_id)
  {
    activeImg = _id;
  }

  <%if signed_in? %>
  function like(_id)
  {
    var likeParent = document.getElementById('heart_parent_div');
    var likeDiv = document.getElementById('like_div');
   
    if (likeDiv.className == "model_dislike_image")
    {
      likeParent.onmouseout = function() {
        likeDiv.className = "model_liked_image"; };
    }
    else
    {
      likeParent.onmouseout = function() {
        likeDiv.className = "model_dislike_image"; };
    }

    $.ajax({type: "GET",
      url: _id.toString() + "/like/" + <%="\"#{current_user.id}\"".html_safe%>, 
      success: function(_like) {
      }
    });
  }
  <%end%>

  <%if @rating%>
  g_score = <%=@rating.score%>;
  <%else%>
    g_score = <%=@model.rating ? @model.rating : 0.0%>,
  <%end%>

  // Set the initial rating score. Also send an ajax request to set the 
  // score rating when clicked.
  $('#star').raty({halfShow: true,
    <%if @rating%>
      score: <%=@rating.score%>,
    <%else%>
      score: <%=@model.rating ? @model.rating : 0.0%>,
      starOn: '<%= asset_path "star-on-red.png" %>',
      starHalf: '<%= asset_path "star-half-red.png" %>',
    <%end%>
    mouseover: function(score, evt) {
      if ($('#star').raty('starOn') == '<%= asset_path "star-on-red.png" %>')
      {
        $('#star').raty('set',
        {starOn: '<%= asset_path "star-on.png"%>',
         starHalf: '<%= asset_path "star-half.png" %>', score: score});
      }
    },
    mouseout: function(score, evt) {
      <%if @rating%>
        $('#star').raty('set',
        {starOn:  '<%= asset_path "star-on.png" %>',
         starHalf: '<%= asset_path "star-half.png" %>',
         score: g_score});
      <%else%>
        $('#star').raty('set',
        {starOn:  '<%= asset_path "star-on-red.png" %>',
         starHalf: '<%= asset_path "star-half-red.png" %>',
         score: g_score});
      <%end%>
    },
    <%if signed_in? %>
    click: function(score, evt) {
      $.ajax({type: "GET",
        url: <%=raw "\"#{@model.id}/rate\""%>,
        data: {score: score, user_id: <%=current_user.id%>},
        success: function(_overall) {
          g_score = score;
          $('#star').raty('set',
            {starOn: '<%= asset_path "star-on.png"%>',
             starHalf: '<%= asset_path "star-half.png"%>', score: score});
          document.getElementById('overall').innerHTML = _overall.toString();
        }
    })}
  <%end%>
  });
</script>
