<div class="headline"> 
  <h1 style="display: inline"><%= @model.name %></h1>

  <% if @creator and signed_in? and @creator.id == current_user.id %>
  <button class="btn btn-mini" type="button"
  style="margin-bottom: 8px; margin-left: 5px"
  onclick=<%="location.href='/model/#{@model.id}/edit'"%>>Edit</button>

  <button class="btn btn-mini" type="button"
    onclick="$('#delete_modal').modal('show');"
    style="margin-bottom: 8px; margin-left: 5px">Delete</button>
  <%end%>

  <h2>Uploaded by:
    <%if @creator%>
      <%= @creator.username %>
    <%else%>
      anonymous 
    <%end%>
    (<%=@model.updated_at.strftime("%b %d, %Y")%>)</h2>
</div>

<div class="model_details row" style="position:relative;clear: left; float: left; width:100%; display:block">

  <%metaPath = File.join(@modelPath, @model.id.to_s, "meta") %>

  <div class="span8"
    style="float: left; position: relative; overflow:hidden;">

    <div
      style="margin-bottom:5px; border: 1px solid #e6e6e6; position:relative">

      <%if signed_in? %>
        <div style="position: absolute; top:10px; right: 10px;"
          id="heart_parent_div">
            <button type="submit" style="border: 0px; background: transparent"
              id="like_button" onclick="like(<%=@model.id%>);">

            <%like = Likes.where(model_id:@model.id, user_id: current_user.id).first%>
            <%if !like%>
              <div class="model_like_image" id="like_div"></div>
            <%elsif like.value?%>
              <div class="model_liked_image" id="like_div"></div>
            <%else%>
              <div class="model_dislike_image" id="like_div"></div>
            <%end%>

          </button>
        </div>
      <%end%>

      <%= image_tag "/model/#{@model.id}/image/1?#{@model.version}",
      alt:"Model image", id:"hero_image" %>
    </div>

    <% if File.exists?(File.join(metaPath, "1.png")) %>
      <div> 
        <ul class="thumbnails">
          <% for i in 1..4 %>
            <li class="span2">

            <% if i == 1 %>
              <%style = "width:160px;border-color: #404853"%>
            <%else%>
              <%style = "width:160px;"%>
            <%end%>

            <%= image_tag "/model/#{@model.id}/image/#{i}?#{@model.version}",
            alt:"model thumbnail", id:"#{i}", class:"thumbnail",
              style:"#{style}",
              onmouseover:"showHero(#{@model.id}, #{i}, #{@model.version});",
              onmouseout:"setHero(#{i});",
              onclick:"showHero(#{@model.id}, #{i}, #{@model.version});setHero(#{i});"
            %>
            </li>
          <%end%>
        </ul>
      </div>
    <%end%>

  </div>

  <div class="span4" style="bottom:0; right:0; position:absolute; display: block; min-height: 100%"> 

    <!-- The model rating system should be like the Netflix system. The stars should be yellow (#E8B107) and display the average star rating, with the number of reviews in parentheses after the stars. When hovering over the stars, they should  highlight in blue (#49728C) as the mouse moves over the stars. The stars that are not being hovered over should be transparent. Clicking a star locks in the user's rating. If they rate the model again, overwrite the previous rating -->
    <div class="rating" data-toggle="tooltip" data-placement="top" title data-original-title="Please log in to rate models" data-trigger="hover">
      <%if @rating%>
        Your Rating:
      <%else%>
        Rating:
      <%end%>
      <span id="star"></span>
      <span>(Overall: <span id='overall'><%= @model.rating ? @model.rating : "n/a"%></span>)</span>
    </div>

    <div class="download">
      <div>
        <%= link_to "Download Model", "#{@model.id}/download",
          {:class=>("btn btn-large btn-primary")} %>
        <!--%= link_to "Download Model", "#{@model.id}/download",
          {:class=>("btn btn-large btn-primary")} %>-->
      </div>
      <div>
        <%=@filesize%>
    </div>
    </div>
    <div class="tags span4" style="position: absolute; left: 10px; bottom:28px">
      <% if @model.tags != "" %>
      <span><strong>Tags</strong></span> 

        <% @model.tags.split(',').each do |tag| %>
          <span>
            <%= link_to tag, {:controller=>'pages', :action=>'search',
              :tag=>"#{tag}", :search=>"#{tag}"},
              {:class=>"label label-info"} %>
          </span>
        <%end%>
      <%end%>
    </div>
  </div>
</div>


  <div class="model_details row">
    <div class="span8 description">
      <div class="headline">
        <h1>Description</h1>
      </div>
      <p><%= @model.description %></p>

      <!-- Older versions need to be implemented -->
      <!-- This section should only appear if there is more than one version. Newer versions are on top. Clicking Download immediately starts the download. -->
      <!--
      <div class="headline"> <br />
        <h1>Older Versions</h1>
      </div>
      <table class="table table-striped">
        <tr>
          <td> June 1, 2013 </td>
          <td class="download_link"><a href="#"> Download </a></td>
        </tr>
        <tr>
          <td> May 3, 2013</td>
          <td class="download_link"><a href="#">Download </a></td>
        </tr>
        <tr>
          <td> January 17, 2013</td>
          <td class="download_link"><a href="#"> Download </a></td>
        </tr>
      </table>
    -->
    </div>

    <% if @creator and @otherModels.any? %>
    <div class="span4">
      <div class="headline">
        <h1>Other models by <i> <%= @creator.username %> </i></h1>
      </div>
      <!-- If the user has uploaded other models, up to three of them appear in this box. The name should be truncated with "..." so that it doesn't extend past the width of the thumbnail. -->
      <div class="other_models"> 
        <!-- # is replaced with a link to that model's page -->
        <ul class="thumbnails">
          <% @otherModels.each do |m| %>
            <li class="span"> <a href="<%=m.id%>">
            <%= image_tag "/model/#{m.id}/image/1", alt:"#{m.name}",
            :class=>"thumbnail" %> <%= m.name %> </a></li>
          <%end%>
        </ul>
      </div>
    </div>
  <%end%>

  </div>

<!--This is the modal for deleting a model -->
<div id="delete_modal" class="modal hide fade" tabindex="-1" role="dialog"
  aria-labelledby="delete_modal" aria-hidden="true">

  <div class="modal-header">
    <h3 id="deleteModalLabel">Delete Model Request</h3>
  </div>

  <div class="modal-body">
    <%= form_for :model, remote:true,
      :url => {:controller=>:model, :action => :destroy},
      :html => {:id=>"delete_model_form"} do |f| %>

    <p>A model can be removed only by a system administrator.</p>
    <p>Direct model deletion is prevented because other models may use resources provided by this model.</p>
    <p>By submitting this request, an administrator will review the model and delete the model after fixing any problems.</p>

      <div class="delete-model-buttons pull-left">
        <%= f.button "Cancel", :class => "btn btn-default",
          :onclick => "$('#delete_modal').modal('hide');" %>
      </div>

      <div class="delete-model-buttons pull-right">
        <%= f.submit "Submit", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>


<script>
  activeImg = "1";
  function showHero(_modelId, _id, _version)
  {
    document.getElementById('hero_image').src =
    _modelId.toString() + "/image/" + _id.toString() + "?" + _version;

    if (activeImg != "")
    {
      document.getElementById(activeImg).style.cssText = "width:160px;";
    }

    document.getElementById(_id).style.cssText =
      "width:160px;border-color: #404853";
  }

  function setHero(_id)
  {
    activeImg = _id;
  }

  <%if signed_in? %>
  function like(_id)
  {
    var likeParent = document.getElementById('heart_parent_div');
    var likeDiv = document.getElementById('like_div');
   
    if (likeDiv.className == "model_dislike_image" || 
        likeDiv.className == "model_like_image")
    {
      likeParent.onmouseout = function() {
        likeDiv.className = "model_liked_image"; };
    }
    else if (likeDiv.className == "model_liked_image")
    {
      likeParent.onmouseout = function() {
        likeDiv.className = "model_dislike_image"; };
    }

    $.ajax({type: "GET",
      url: _id.toString() + "/like/" + <%="\"#{current_user.id}\"".html_safe%>, 
      success: function(_like) {
      }
    });
  }
  <%end%>

  <%if @rating%>
    g_score = <%=@rating.score%>;
  <%else%>
    g_score = <%=@model.rating ? @model.rating : 0.0%>,
  <%end%>


  // Set the initial rating score. Also send an ajax request to set the 
  // score rating when clicked.
  $('#star').raty({halfShow: true,
    <%if @rating%>
      score: <%=@rating.score%>,
    <%else%>
      score: <%=@model.rating ? @model.rating : 0.0%>,
      starOn: '<%= asset_path "star-on-red.png" %>',
      starHalf: '<%= asset_path "star-half-red.png" %>',
    <%end%>
    mouseover: function(score, evt) {
      if ($('#star').raty('starOn') == '<%= asset_path "star-on-red.png" %>')
      {
        $('#star').raty('set',
        {starOn: '<%= asset_path "star-on.png"%>',
         starHalf: '<%= asset_path "star-half.png" %>', score: score});
      }
    },
    mouseout: function(score, evt) {
      <%if @rating%>
        $('#star').raty('set',
        {starOn:  '<%= asset_path "star-on.png" %>',
         starHalf: '<%= asset_path "star-half.png" %>',
         score: g_score});
      <%else%>
        $('#star').raty('set',
        {starOn:  '<%= asset_path "star-on-red.png" %>',
         starHalf: '<%= asset_path "star-half-red.png" %>',
         score: g_score});
      <%end%>
    },
    <%if signed_in? %>
    click: function(score, evt) {
      $.ajax({type: "GET",
        url: <%=raw "\"#{@model.id}/rate\""%>,
        data: {score: score, user_id: <%=current_user.id%>},
        success: function(_overall) {
          g_score = score;
          $('#star').raty('set',
            {starOn: '<%= asset_path "star-on.png"%>',
             starHalf: '<%= asset_path "star-half.png"%>', score: score});
          document.getElementById('overall').innerHTML = _overall.toString();
        }
    })}
  <%else%>
    click: function(score, evt) {
      $('.rating').tooltip('show');
    }
  <%end%>
  });

  $('#delete_model_form').submit(function() {
    var valuesToSubmit = $(this).serialize();

    $.ajax({
      url: $(this).attr('action'),
      data: valuesToSubmit,
      type: 'DELETE',
      dataType: 'JSON',
      success: function(_json) {

        if (_json["status"] == "success")
        {
          $('#delete_modal').modal('hide');
        }
        else 
        {
          alert(_json["message"]);
        }
      }
    });

  });

</script>
