<div class="container">
  <div class="headline search">
    <h1>Search for a model</h1>
    <form class="form-search">
      <input type="text" class="input-xlarge search-query" placeholder="Enter a search item...">
      <select>
        <option selected="selected">All Categories</option>
        <option>Category 1</option>
        <option>Category 2</option>
        <option>Category 3</option>
        <option>Category 4</option>
      </select>
      <button type="submit" class="btn">Search</button>
    </form>
  </div>
  <div class="categories">
    <div class="headline">
      <h1>Browse by Category</h1>
      <br />
    </div>
    <ul class="thumbnails">
      <li class="span3"> <a href="#" class="thumbnail"><%= image_tag "wall-e.jpg", alt:"Wall-e robot" %> </a> Robots </li>
      <li class="span3"> <a href="#" class="thumbnail"> <%= image_tag "wall-e.jpg", alt:"Wall-e robot" %> </a> People/Animals </li>
      <li class="span3"> <a href="#" class="thumbnail"> <%= image_tag "wall-e.jpg", alt:"Wall-e robot" %> </a> Buildings </li>
      <li class="span3"> <a href="#" class="thumbnail"> <%= image_tag "wall-e.jpg", alt:"Wall-e robot" %> </a> Tools </li>
      <li class="span3"> <a href="#" class="thumbnail"> <%= image_tag "wall-e.jpg", alt:"Wall-e robot" %> </a> Vehicles </li>
    </ul>
  </div>
</div>
<script src="http://code.jquery.com/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>

