<div class="container">
  <div class="headline search">
    <h1>Search for a model</h1>

    <%= form_for :pages, :url => {:action => :search},
      :html => {:class => "form-search"} do |f| %>

      <%= f.text_field :search,
        {:class=>"input-xlarge search-query",
          :placeholder=>"Enter a search term...",
          :required=>true} %>

      <%= select_tag(:scope,
          grouped_options_for_select([['Category', 
          ['All Categories', 'Robots', 'People', 'Animals',
          'Buildings', 'Vehicles']],
          ['Other',
            ['Username']]]), :class=>"selectpicker") %>

      <%= f.submit "Submit", :class => "btn" %>

    <%end%>
  </div>

  <div class="categories">
    <div class="headline">
      <h1>Browse by Category</h1>
      <br />
    </div>

    <%if !@categories.empty? %>
      <ul class="thumbnails">
        <% @categories.each do |cat| %>
          <li class="span3">
            <%model = Model.where(category: cat.name).first%>
            <%= link_to image_tag("/model/#{model.id}/image/1",
                                  alt: "#{model.name}"),
              {controller: "pages", action: "browse", category: "#{cat.name}"},
              {:class=>("thumbnail")} %> <%= cat.name.capitalize %>
          </li>
        <%end%>
      </ul>
    <%end%>

  </div>
</div>
