<div class="headline search">
  <h1>Search for a model</h1>

  <%= form_tag("/pages/search", :class => "form-search", :method=>'get') do%>

    <%= text_field_tag(:search, "",
      :class=>"input-xlarge search-query",
      :value => "#{@post[:search]}",
      :required=>true) %>

    <select class="selectpicker" id="category" name="category">
      <optgroup label="Category">
        <option value="All Categories">All Categories</option>
        <% @allCategories.each do |cat|%>
          <option value=<%="#{cat.name.capitalize}"%>
          <% if cat.name.capitalize == @post[:category] %>
            selected
          <%end%>
          >
          <%= cat.name.capitalize%></option>
        <%end%>
      </optgroup>
      <optgroup label="Other">
        <option value="Username">Username</option>
      </optgroup>
    </select>

    <%= submit_tag("Search", :class => "btn") %>

  <%end%>
</div>

<div class="categories">
	<div class="search_results_data">
    <ul class="search_restrictions">
      <%if !@post[:tag]%>
        <li>
          <%= @post[:search] %>
          <span class="count"><%=@models.size%> items</span>
        </li>

        <li>
          <%if @post[:category] == "Username"%>
            <span class="category_username">
              Username: username
            </span>
          <%else%>
            <span class="category_username">
              Category: <%= @post[:category] %>
            </span>
          <%end%>
        </li>
      <%else%>
        <li>
          <span style="float: left; padding-right: 6px; line-height: 24px;">Models tagged with:</span>
          <div style="float: right" class="tag_search">
            <div class="label label-info"><%= @post[:tag] %></div>
          </div>
        </li>

        <li>
          <span style="clear: both; float: left; padding-right: 6px; line-height: 24px;" class="count tagged_with"> (<%=@models.size%>) items</span>
        </li>

      <%end%>
    </ul>
  </div>

  <div class="categories">
    <ul class="thumbnails">
      <%@models.each do |model|%>
        <li class="span2">
          <%= link_to image_tag("/model/#{model.id}/image/1",
                                alt: "#{model.name}"),
            {controller: "model", action: "show", id:"#{model.id}"},
            {:class=>"thumbnail"} %>

        <div class="line_height">
          <%= link_to "#{model.name}",
            {controller: "model", action: "show", id:"#{model.id}"} %>
        </div>

        <span class="subtext">By:
        <%if !model.creator or User.where(id: model.creator).blank?%>
          Anonymous
        <%else%>
          <%=User.find(model.creator).username%>
        <%end%>
        </span>
        </li>
      <%end%>

    </ul>
  </div>
</div>
