<div class="container">

  <div class="headline models_like">
    <h1> <%= image_tag "like_heart.svg", alt:"Like Heart",
        :style=>"width:22px; margin-bottom: 6px"%> Models I Like</h1>
  </div>

  <%if !@likes.empty? %>
    <div class="row categories">
      <ul class="thumbnails_preferences thumbnail_margin_bottom">
        <%@likes.each do |like|%>
          <%model = Model.where(:id=>"#{like.model_id}").first%>
          <%user = User.where(:id=>"#{like.user_id}").first%>
        <li class="span2">
          <div style="position: relative">
            <div style="position: absolute; top:10px; right: 10px;"
              id="heart_parent_div">
              <button type="submit" style="border: 0px; background: transparent"
                id="like_button" onclick="like(<%=like.model_id%>);">

                <%if !like%>
                  <div class="model_like_image" id="like_div"></div>
                <%elsif like.value?%>
                  <div class="model_liked_image" id="like_div"></div>
                <%else%>
                  <div class="model_dislike_image" id="like_div"></div>
                <%end%>
              </button>
            </div>

              <%= link_to image_tag("/model/#{model.id}/image/1",
                                    alt: "#{model.name}"),
                {controller: "model", action: "show", id:"#{model.id}"},
                {:class=>"thumbnail"} %>
          </div>

          <div class="line_height">
            <%= link_to "#{model.name}",
              {controller: "model", action: "show", id:"#{model.id}"} %>
          </div>

          <span class="subtext">By:
          <%if !model.creator%>
            Anonymous
          <%else%>
            <%=User.find(model.creator).username%>
          <%end%>
          </span>

        </li>
      <%end%>
      </ul>
    </div>
  <%else%>
    <p>You don't like any models, how sad.</p>
  <%end%>

</div>

<script>
  function like(_id)
  {
    var likeParent = document.getElementById('heart_parent_div');
    var likeDiv = document.getElementById('like_div');
   
    if (likeDiv.className == "model_dislike_image")
    {
      likeParent.onmouseout = function() {
        likeDiv.className = "model_liked_image"; };
    }
    else
    {
      likeParent.onmouseout = function() {
        likeDiv.className = "model_dislike_image"; };
    }

    $.ajax({type: "GET",
      url: "/model/" + _id.toString() + "/like/" + <%="\"#{current_user.id}\"".html_safe%>, 
      success: function(_like) {
      }
    });

/*
    $.ajax({type: "GET",
      url: "/model/" + _id.toString() + "/like/" + <%="\"#{current_user.id}\"".html_safe%>, 
      success: function(_like) {
        if (_like == "like_heart.svg")
        {
          document.getElementById('heart_parent_div').onmouseout = function() {
            document.getElementById('like_div').className = "model_liked_image";
          };
        }
        else
        {
          document.getElementById('heart_parent_div').onmouseout = function() {
            document.getElementById('like_div').className = "model_dislike_image";
          };
        }
      }
    });
*/
  }
</script>
