<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>The Prop Shop</title>
  <script src="http://code.jquery.com/jquery.js"></script> 
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="navigation">
  <div class="container">
    <%= link_to image_tag("white_logo.png", alt:"OSRF logo", size:"217x50"),
      root_path%>

    <div class="dropdown login">
      <div class="username_dropdown">

        <%if !signed_in?%>
          <a class="dropdown-toggle"
            data-toggle="dropdown" href="#"> Login | Signup </a>
          <div class='dropdown-menu' style="padding: 10px">
            <p>Sign in using:</p>
            <%= link_to image_tag("google-icon-32.png", alt:"google"), 
              {:controller=>"sessions", :action=>"new", :auth=>"google",
                :redirect=>"#{request.original_url}"}%>
            <%= link_to image_tag("yahoo-icon-32.png", alt:"yahoo"),
              {:controller=>"sessions", :action=>"new", :auth=>"yahoo",
                :redirect=>"#{request.original_url}"}%>
            <%= link_to image_tag("openid-icon-32.png", alt:"openid"),
              {:controller=>"sessions", :action=>"new", :auth=>"openid",
                :redirect=>"#{request.original_url}" }%>
            <%= link_to image_tag("aol-icon-32.png", alt:"aol"),
              {:controller=>"sessions", :action=>"new", :auth=>"aol",
                :redirect=>"#{request.original_url}"}%>
          </div>
        <%else%>
          <a class="dropdown-toggle"
            data-toggle="dropdown" href="#"><%= current_user.username%> </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Models I Like <i class="icon-heart"></i>'.html_safe,
                {:controller=>"user", :action=>"likes",
                :id=>current_user.id}%></li>
              <li><%= link_to "My Downloads", 
                {:controller=>"user", :action=>"downloads",
                  :id=>current_user.id} %></li>
              <li> <%= link_to "Models I Made", 
                {:controller=>"user", :action=>"created",
                  :id=>current_user.id} %></li>
              <li><%= link_to "Log out",
                {:controller=>"sessions", :action=>"destroy"},
                :method=>:delete%>
              </li>
            </ul>
        <%end%>

      </div>
    </div>

    <ul class="nav nav-pills">
      <% if @post[:controller] == "pages" and @post[:action] == "index" %>
        <li class='active'>
      <% else %>
        <li>
      <% end %>
      <%= link_to "Find", root_path%></li>

      <% if @post[:controller] == "model" and @post[:action] == "new" %>
        <li class='active'>
      <% else %>
        <li>
      <% end %>
      <%= link_to "Upload", controller: "model", action: "new"%></li>

      <% if @post[:controller] == "pages" and @post[:action] == "about" %>
        <li class='active'>
      <% else %>
        <li>
      <% end %>
      <%= link_to "About", controller: "pages", action: "about"%></li>
    </ul>

  </div>
</div>

<%= yield %>

<footer id="footer">
 Except where otherwise noted, the thepropshop.org web pages are licensed under <a href="http://creativecommons.org/licenses/by/3.0/"> Creative Commons Attribution 3.0</a>
</footer>

<!--This is the modal for signing up-->
<div id="signup_modal" class="modal hide fade" tabindex="-1" role="dialog"
  aria-labelledby="myModal" aria-hidden="true">

  <div class="modal-header">
    <h3 id="myModalLabel">Pick a username</h3>
    <p>Select a username to associate with your OpenID account.</p>
  </div>

  <div class="modal-body">
    <%= form_for :user, :url => {:controller=>:user, :action => :create},
      :html => {:onsubmit=>"return validateUsernameForm();",
        :id=>"username_form"} do |f| %>

        <%if current_user%>
          <input type="hidden" name="id" value="<%=current_user.id%>"/>
        <%end%>

        <div class="control-group" id="username_div">
          <label>Username*</label>
          <div class="controls">
            <%= f.text_field "username", {:placeholder=>"Pick a username...",
              :required=>true}%>
            <span class="help-inline" id="username_help"
              style="padding-bottom:10px"></span>
          </div>
        </div>

        <div class="control-group" id="confirm_div">
          <label>Re-type username*</label>
          <div class="controls">
            <%= f.text_field "confirm", {:placeholder=>"Type if again...",
              :required=>true}%>
            <span class="help-inline" id="confirm_help"
              style="padding-bottom:10px"></span>
          </div>
        </div>

      <div class="signup-buttons pull-right">
        <%= f.submit "Submit",:class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  function validateUsernameForm()
  {
    var username = document.forms["username_form"]["user[username]"].value;
    var username2 = document.forms["username_form"]["user[confirm]"].value;
    document.getElementById('username_help').innerHTML = "";
    document.getElementById('confirm_help').innerHTML = "";

    document.getElementById('username_div').className = "control-group";
    document.getElementById('confirm_div').className = "control-group";

    if (username != null && username != "" && username == username2)
    {
      return true;
    }
    else
    {
      if (username == null || username == "")
      {
        document.getElementById('username_div').className += " error";
        document.getElementById('username_help').innerHTML =
        "Please choose a username";
      }
      else if (username != username2)
      {
        document.getElementById('confirm_div').className += " error";
        document.getElementById('confirm_help').innerHTML =
        "Username must match";
      }
      return false;
    }
  }

  <%if current_user && !current_user.username%>
    $('#signup_modal').modal()
  <%end%>
</script>
</body>
</html>
